{% comment %}
  Google Analytics 4
  Usage: {% include ga4.html %}
  
  Requires site.ga4_measurement_id to be set in _config.yml with your GA4 measurement ID.
  No parameters required.
{% endcomment %}

{% if site.ga4_measurement_id %}

<!-- Google Analytics 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga4_measurement_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga4_measurement_id }}');
</script>
{% endif %}