{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="png-icon email"></i></a>{% endif %}
{% if site.footer-links.amino %}<a href="https://www.aminoapps.com/u/{{ site.footer-links.amino }}"><i class="png-icon amino"></i></a>{% endif %}
{% if site.footer-links.apple %}<a href="https://apps.apple.com/{{ site.footer-links.apple }}"><i class="png-icon apple"></i></a>{% endif %}
{% if site.footer-links.bandcamp %}<a href="https://{{ site.footer-links.bandcamp }}.bandcamp.com"><i class="png-icon bandcamp"></i></a>{% endif %}
{% if site.footer-links.beacons %}<a href="https://www.beacons.ai/{{ site.footer-links.beacons }}"><i class="png-icon beacons"></i></a>{% endif %}
{% if site.footer-links.beehiiv %}<a href="https://{{ site.footer-links.beehiiv }}.beehiiv.com"><i class="png-icon beehiiv"></i></a>{% endif %}
{% if site.footer-links.bitbucket %}<a href="https://www.bitbucket.org/{{ site.footer-links.bitbucket }}"><i class="png-icon bitbucket"></i></a>{% endif %}
{% if site.footer-links.bsky %}<a href="https://bsky.app/profile/{{ site.footer-links.bsky }}"><i class="png-icon bsky"></i></a>{% endif %}
{% if site.footer-links.buymeacoffee %}<a href="https://www.buymeacoffee.com/{{ site.footer-links.buymeacoffee}}"><i class="png-icon buymeacoffee"></i></a>{% endif %}
{% if site.footer-links.discord %}<a href="https://www.discord.com/invite/{{ site.footer-links.discord}}"><i class="png-icon discord"></i></a>{% endif %}
{% if site.footer-links.dribbble %}<a href="https://www.dribbble.com/{{ site.footer-links.dribbble }}"><i class="png-icon dribbble"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="png-icon facebook"></i></a>{% endif %}
{% if site.footer-links.fiverr %}<a href="https://www.fiverr.com/{{ site.footer-links.fiverr }}"><i class="png-icon fiverr"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/photos/{{ site.footer-links.flickr }}"><i class="png-icon flickr"></i></a>{% endif %}
{% if site.footer-links.gamespot %}<a href="https://www.gamespot.com/profile/{{ site.footer-links.gamespot }}"><i class="png-icon gamespot"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://www.github.com/{{ site.footer-links.github }}"><i class="png-icon github"></i></a>{% endif %}
{% if site.footer-links.gitlab %}<a href="https://www.gitlab.com/{{ site.footer-links.gitlab }}"><i class="png-icon gitlab"></i></a>{% endif %}
{% if site.footer-links.givesendgo %}<a href="https://www.givesendgo.com/{{ site.footer-links.givesendgo }}"><i class="png-icon givesendgo"></i></a>{% endif %}
{% if site.footer-links.glassdoor %}<a href="https://www.glassdoor.com/{{ site.footer-links.glassdoor }}"><i class="png-icon glassdoor"></i></a>{% endif %}
{% if site.footer-links.gofundme %}<a href="https://www.gofundme.com/f/{{ site.footer-links.gofundme }}"><i class="png-icon gofundme"></i></a>{% endif %}
{% if site.footer-links.gog %}<a href="https://www.gog.com/u/{{ site.footer-links.gog }}"><i class="png-icon gog"></i></a>{% endif %}
{% if site.footer-links.goodreads %}<a href="https://www.goodreads.com/{{ site.footer-links.goodreads }}"><i class="png-icon goodreads"></i></a>{% endif %}
{% if site.footer-links.googleplay %}<a href="https://play.google.com/store/apps/{{ site.footer-links.googleplay }}"><i class="png-icon googleplay"></i></a>{% endif %}
{% if site.footer-links.guilded %}<a href="https://www.guilded.gg/u/{{ site.footer-links.guilded }}"><i class="png-icon guilded"></i></a>{% endif %}
{% if site.footer-links.indiegogo %}<a href="https://www.indiegogo.com/projects/{{ site.footer-links.indiegogo }}"><i class="png-icon indiegogo"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://www.instagram.com/{{ site.footer-links.instagram }}"><i class="png-icon instagram"></i></a>{% endif %}
{% if site.footer-links.kick %}<a href="https://www.kick.com/{{ site.footer-links.kick }}"><i class="png-icon kick"></i></a>{% endif %}
{% if site.footer-links.kickstarter %}<a href="https://www.kickstarter.com/projects/{{ site.footer-links.kickstarter }}"><i class="png-icon kickstarter"></i></a>{% endif %}
{% if site.footer-links.kofi %}<a href="https://www.ko-fi.com/{{ site.footer-links.kofi }}"><i class="png-icon kofi"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="png-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.linktree %}<a href="https://www.linktr.ee/{{ site.footer-links.linktree }}"><i class="png-icon linktree"></i></a>{% endif %}
{% if site.footer-links.mastodon %}<a href="https://{{ site.footer-links.mastodon }}"><i class="png-icon mastodon"></i></a>{% endif %}
{% if site.footer-links.medium %}<a href="https://www.medium.com/@{{ site.footer-links.medium }}"><i class="png-icon medium"></i></a>{% endif %}
{% if site.footer-links.nintendo %}<a href="https://www.nintendo.com/{{ site.footer-links.nintendo }}"><i class="png-icon nintendo"></i></a>{% endif %}
{% if site.footer-links.nintendoswitch %}<a href="https://www.nintendo.com/{{ site.footer-links.nintendoswitch }}"><i class="png-icon nintendoswitch"></i></a>{% endif %}
{% if site.footer-links.odysee %}<a href="https://www.odysee.com/@{{ site.footer-links.odysee }}"><i class="png-icon odysee"></i></a>{% endif %}
{% if site.footer-links.onlyfans %}<a href="https://www.onlyfans.com/@{{ site.footer-links.onlyfans }}"><i class="png-icon onlyfans"></i></a>{% endif %}
{% if site.footer-links.patreon %}<a href="https://www.patreon.com/{{ site.footer-links.patreon }}"><i class="png-icon patreon"></i></a>{% endif %}
{% if site.footer-links.paypal %}<a href="https://www.paypal.com/paypalme/{{ site.footer-links.paypal }}"><i class="png-icon paypal"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="png-icon pinterest"></i></a>{% endif %}
{% if site.footer-links.playstation %}<a href="https://store.playstation.com/{{ site.footer-links.playstation }}"><i class="png-icon playstation"></i></a>{% endif %}
{% if site.footer-links.polywork %}<a href="https://www.polywork.com/{{ site.footer-links.polywork }}"><i class="png-icon polywork"></i></a>{% endif %}
{% if site.footer-links.reddit %}<a href="https://www.reddit.com/r/{{ site.footer-links.reddit }}"><i class="png-icon reddit"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="png-icon rss"></i></a>{% endif %}
{% if site.footer-links.rumble %}<a href="https://www.rumble.com/{{ site.footer-links.rumble }}"><i class="png-icon rumble"></i></a>{% endif %}
{% if site.footer-links.skype %}<a href="https://www.skype.com/{{ site.footer-links.skype }}"><i class="png-icon skype"></i></a>{% endif %}
{% if site.footer-links.snapchat %}<a href="https://www.snapchat.com/@{{ site.footer-links.snapchat }}"><i class="png-icon snapchat"></i></a>{% endif %}
{% if site.footer-links.soundcloud %}<a href="https://www.soundcloud.com/@{{ site.footer-links.soundcloud }}"><i class="png-icon soundcloud"></i></a>{% endif %}
{% if site.footer-links.spotify %}<a href="https://open.spotify.com/user/{{ site.footer-links.spotify }}"><i class="png-icon spotify"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://www.stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="png-icon stackoverflow"></i></a>{% endif %}
{% if site.footer-links.steam %}<a href="https://www.steamcommunity.com/id/{{ site.footer-links.steam }}"><i class="png-icon steam"></i></a>{% endif %}
{% if site.footer-links.subify %}<a href="https://www.subify.vip/{{ site.footer-links.subify }}"><i class="png-icon subify"></i></a>{% endif %}
{% if site.footer-links.substack %}<a href="https://{{ site.footer-links.substack }}.substack.com/"><i class="png-icon substack"></i></a>{% endif %}
{% if site.footer-links.teams %}<a href="https://teams.microsoft.com/{{ site.footer-links.teams }}"><i class="png-icon teams"></i></a>{% endif %}
{% if site.footer-links.telegram %}<a href="https://www.t.me/{{ site.footer-links.telegram }}"><i class="png-icon telegram"></i></a>{% endif %}
{% if site.footer-links.threads %}<a href="https://www.threads.com/@{{ site.footer-links.threads }}"><i class="png-icon threads"></i></a>{% endif %}
{% if site.footer-links.tiktok %}<a href="https://www.tiktok.com/@{{ site.footer-links.tiktok }}"><i class="png-icon tiktok"></i></a>{% endif %}
{% if site.footer-links.trovo %}<a href="https://www.trovo.live/{{ site.footer-links.trovo }}"><i class="png-icon trovo"></i></a>{% endif %}
{% if site.footer-links.twitch %}<a href="https://www.twitch.tv/{{ site.footer-links.twitch }}"><i class="png-icon twitch"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="png-icon twitter"></i></a>{% endif %}
{% if site.footer-links.venmo %}<a href="https://account.venmo.com/u/{{ site.footer-links.venmo }}"><i class="png-icon venmo"></i></a>{% endif %}
{% if site.footer-links.vk %}<a href="https://www.vk.com/{{ site.footer-links.vk }}"><i class="png-icon vk"></i></a>{% endif %}
{% if site.footer-links.wefunder %}<a href="https://www.wefunder.com/{{ site.footer-links.wefunder }}"><i class="png-icon wefunder"></i></a>{% endif %}
{% if site.footer-links.whatsapp %}<a href="https://www.wa.me/{{ site.footer-links.whatsapp }}"><i class="png-icon whatsapp"></i></a>{% endif %}
{% if site.footer-links.windows %}<a href="https://apps.microsoft.com/{{ site.footer-links.windows }}"><i class="png-icon windows"></i></a>{% endif %}
{% if site.footer-links.x %}<a href="https://www.x.com/{{ site.footer-links.x }}"><i class="png-icon x"></i></a>{% endif %}
{% if site.footer-links.xbox %}<a href="https://www.xbox.com/{{ site.footer-links.xbox }}"><i class="png-icon xbox"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://www.youtube.com/{{ site.footer-links.youtube }}"><i class="png-icon youtube"></i></a>{% endif %}
{% if site.footer-links.zelle %}<a href="https://www.zelle.com/"><i class="png-icon zelle"></i></a>{% endif %}
{% if site.footer-links.zoom %}<a href="https://www.zoom.us/j/{{ site.footer-links.zoom }}"><i class="png-icon zoom"></i></a>{% endif %}