<!DOCTYPE html>
<html>
  <head>
    <script src="{{ '/scripts/js/header-scroll.js' | relative_url }}"></script>
    <script src="{{ '/scripts/js/star-trail.js' | relative_url }}"></script>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="{{ '/fonts/fontawesome/css/all.min.css' | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">

    </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
            <p class="site-location">{{ site.location }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/Apropos">Apropos</a>
            <a href="https://github.com/willnjohnson/">Projects</a>
          </nav>
        </header>
      </div>
    </div>
    
    {% if page.url == '/' %}
      <div id="main" role="main">
        {{ content }}
      </div>
    {% else %}
      <div id="main" role="main" class="container">
        {{ content }}
      </div>
    {% endif %}

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include png-icons.html %}
          {% include copyright.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>