<!DOCTYPE html>
<html>
  <head>
    <script src="{{ '/scripts/js/effects.js' | relative_url }}"></script>
    <script src="{{ '/scripts/js/quotes.js' | relative_url }}"></script>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="{{ '/fonts/fontawesome/css/all.min.css' | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
  </head>

  <body>
    <div class="wrapper-head">
      <div class="container">
        <header class="head clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name">{{ site.name }}</h1>
            <p class="site-description">{{ site.description }}</p>
            <p class="site-location">{{ site.location }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/apropos">Apropos</a>
            <a href="{{ site.baseurl }}/projects">Projects</a>
            <a href="{{ site.baseurl }}/freelance">Freelance</a>
          </nav>
        </header>
      </div>
    </div>
    
    {% if page.url == '/' %}
      <div id="main" role="main">
        {{ content }}
      </div>
    {% else %}
      <div id="main" role="main" class="page-container">
        {{ content }}
      </div>
    {% endif %}

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include icons.html %}
          {% include copyright.html %}
          <div
            id="random-quote"
            data-quotes='[
              {% for q in site.data.quotes %}
                "{{ q.text | escape }}"{% unless forloop.last %},{% endunless %}
              {% endfor %}
            ]'
          ></div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}

    <div class="btn back-to-top" role="button" aria-label="Back to top" tabindex="0">
      <i class="fas fa-chevron-up"></i>
    </div>
  </body>
</html>