---
layout: default
---

<article class="post">
  <div class="current-title">
    <p>
      <span>
        <a href="../#{{ page.url | split: '/' | last }}">Blog
        </a>
      </span>
      {% if page.date %}
        <span>
          Written {{ page.date | date: "%b %e, %Y" }}
          {% if page.updated %} &nbsp;•&nbsp; Updated {{ page.updated | date: "%b %e, %Y" }}{% endif %}
        </span>
      {% endif %}
    </p>
    <h2>{{ page.title }}</h2>
  </div>

  <p class="summary">{{ page.summary }}</p>

  <div class="post-meta-row">
    <div class="post-authors">
      {% if page.authors %}
        <div class="author-images">
          {% for author in page.authors %}
            <img src="{{ author.image | default: '/images/profile.png' }}" alt="{{ author.name }}" class="author-image">
          {% endfor %}
        </div>
        <span class="author-names">
          {% for author in page.authors %}
            {% if author.url %}<a href="{{ author.url }}" class="author-link">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </span>
      {% endif %}
    </div>

    <span class="meta-tags read-time">
      <i class="fa-regular fa-clock"></i>
      {% assign words = content | number_of_words %}
      {% assign read_time = words | divided_by: 200 | at_least: 1 %}
      {{ read_time }} min read
    </span>
  </div>

  <hr>

  <div class="entry">
    {{ page.quote | markdownify }}
    {{ content }}
  </div>
  
  {% if page.tags %}
    <span class="meta-tags">
      <i class="fa-solid fa-tag"></i>
      {% for tag in page.tags %}
        <span class="meta-tag"><a href="{{ site.baseurl }}/tag/{{ tag | slugify }}/">{{ tag }}</a></span>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </span>
  {% endif %}

  <br/><br/>
  
  <figcaption>This post is licensed under <strong>CC BY 4.0</strong> by {{ site.name }}.</figcaption>

  <hr>

  <!-- Previous/Next Article Navigation -->
  <nav class="post-pagination">
    {% if page.previous %}
      <a href="{{ site.baseurl }}{{ page.previous.url }}" class="prev-article">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="article-title">{{ page.previous.title }}</span>
      </a>
    {% else %}
      <div class="spacer"></div>
    {% endif %}
    {% if page.next %}
      <a href="{{ site.baseurl }}{{ page.next.url }}" class="next-article">
        <span class="article-title">{{ page.next.title }}</span>
        <i class="fa-solid fa-arrow-right"></i>
      </a>
    {% else %}
      <div class="spacer"></div>
    {% endif %}
  </nav>

  {% include disqus.html %}

  <hr>

  {% include social-share.html %}
</article>